*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.navbar ul{
    list-style: none;
}
.nav-left a{
    text-decoration: none;
    color: black;
}
.nav-right a{
    text-decoration: none;
    color: black;
}
.navbar{
    display: flex;
    max-width: 100vw;
    box-shadow: 0vw 1vh 2px 4px rgb(226,217,217);
}
.nav-left{
    display: flex;
	flex: 50vw;
	align-items: center;
	justify-content: center;
    max-width: 50vw;
}
.nav-right{
    display: flex;
    flex: 50vw;
    align-items: center;
    justify-content: center;
    max-width: 50vw;
}
.nav-right li{
    padding: 2%;
    font-size: 1.2vw;
    font-weight: bold;
}
.first-btn{
    width: 110px;
	height: 38px;
	border-radius: 30px;
	border: 1px solid black;
	font-size: 1.2vw;
	font-weight: bold;
}
.second-btn{
    width: 131px;
	height: 41px;
	border-radius: 21px;
	background-color: black;
	color: white;
	font-size: 1vw;
	font-weight: bold;
}
.nav-left img{
    height: 100px;
	width: 100px;
}
.nav-left li{
	padding: 2%;
    font-size: 1.2vw;
    font-weight: bold;
}
#display-right{
    display: none;
    }
    @media only screen and (max-width:792px){
        .display-none{
            display: none;
        }
        .display-left{
            float: left;
         }
        #display-right{
            margin: 0;
            display: block;
          font-size: 40px;    
        }
        .navbar{
            min-width: 103vw;
        
        }
 }
 .first-box p{
    background-color:red;
	width: 74vw;
	height: 22vh;
	text-align: center;
	margin: 0px auto;
	font-size: 1.7vw;
	padding: 6vh 13vw;
    color: black;
 }
 @media only screen and (max-width:904px){
     .first-box p{
        font-size: 2.5vw;
        padding: 6vh 8vw;
     }
 }
 .left-box2 h1{
    font-size: 2.5vw;
    color: #1e3932;
    font-weight: bold;
 }
 .left-box2 p{
    font-size: 1.5vw;
 }
 .left-box2 button{
    width: 11rem;
	height: 3.1rem;
	font-size: 1rem;
	border-radius: 24px;
	font-weight: bold;
    background-color: black;
    color: white;
 }
 .left-box2{
    background-color:red;
	width: 50vw;
	height:75vh;
    padding: 22vh 7vw;
	text-align: center;
 }

 .right-box2 img{
    width: 50vw;
    height: 75vh;
}
.box-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2vh 2vw;
}
button:hover{
    cursor: pointer;
    background-color:rgb(105, 101, 101);
}

@media (max-width:1000px){
    .box-2{
        flex-direction: column-reverse;
        align-items: center;
    }
    .left-box2{
        width: 100vw;
        height: 50vh;
	   padding: 1vh 4vw;
    }
    .right-box2 img{
        width: 100vw;
}
.left-box2 h1{
    font-size: 4vw;
      }
      .left-box2 p{
    font-size: 3.4vw;
} 
}
.right-box3{
    background-color: #f2f0eb;
	width: 50vw;
	height:75vh;
    padding: 17vh 1vw;
	text-align: center;
}
.right-box3 h1{
    font-size: 2.5vw;
    color: #1e3932;
    font-weight: bold;
}
.right-box3 p{
    font-size: 1.5vw;
}
.right-box3 button{
    width: 12rem;
	height: 3rem;
	font-size: 1rem;
	border-radius: 24px;
	font-weight: bold;
    color: white;
    background-color: black;
}
.left-box3 img{
    width: 50vw;
	height: 75vh;
}
.box-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2vh 2vw;
}

@media only screen and (max-width:1000px){
    .box-3{
        flex-direction: column;
        align-items: center;
    }
    .right-box3{
        width: 100vw;
        height: 45vh;
        padding: 1vw 1vw;
    }
    .right-box3 h1{
        font-size: 4vw;
    }
    .right-box3 p{
        font-size: 3.4vw;
    }
    .left-box3 img{
        width: 100vw;
    }
}
.left-box4{
    background-color: #f2f0eb;
    width: 50vw;
    height: auto;
    padding: 16vh 4vw;
    text-align: center;

}
.left-box4 h1{
    font-size: 3vw;
    color: #104739;
    font-weight: bold;
}
.left-box4 p{
    font-size: 1.6vw;
}
.left-box4 button{
    width: 11rem;
	height: 2.7rem;
	font-size: 1rem;
	border-radius: 24px;
	font-weight: bold;
  color: white;
  background-color: black;
    
}
.right-box4 img{
    width: 50vw;
    height: auto;
}
.box-4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2vh 2vw;
}
@media only screen and (max-width:1000px){
    .box-4{
        flex-direction: column-reverse;
      align-items: center;
    }
    .left-box4{
        width: 100vw;
        padding: 2vh 6vw;
	   height: 45vh;
    }
    .right-box4 img{
        width: 100vw;
    }
    .left-box4 h1{
        font-size: 4vw;
  }
  .left-box4 p{
    font-size: 3vw;
  }
  .navbar{
      min-width: 102vw;
      }
}

.mid-heading {
    color: #104739;
    margin: 4vh auto;
    font-weight: bold;
    text-align: center;
    font-size: 2.8vw;
}
.left-box5 h2{
    color: #1e3932;
    font-size: 1.7vw;
}
.left-box5 p{
color: #1e3932;
font-size: 1.5vw;
}
.left-box5 button{
    width: 12rem;
	height: 3rem;
	font-size: 1rem;
    border-radius: 24px;
    font-weight: bold;
    background-color: black;
    color: white;
    
}
.left-box5{
    background-color: #d4e9e2;
    width: 50vw;
    height: 50vh;
    text-align: center;
    padding: 5vh 5vw;
    
}
.right-box5 img{
    width: 50vw;
    height: 50vh;
}
.box-5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2vh 2vw;
}

@media only screen and (max-width:1000px){
    .box-5{
        flex-direction: column-reverse;
     align-items: center;
    }
    .left-box5{
        width: 100vw;
        height: 35vh;
    }
    .right-box5 img{
        width: 100vw;
    }
    .left-box5 h2{
font-size: 2vw;
    }
    .left-box5 p{
font-size: 1.9vw;
    }
}

.right-box6{
    background-color: #f2f0eb;
    width: 50vw;
    height: 75vh;
   padding: 16vh 5vw;
    text-align: center;
}
.right-box6 h1{
    font-size: 2.5vw;
    color: #1e3932;
    font-weight: bold;
}
.right-box6 p{
    font-size: 1.5vw;
}
.right-box6 button{
    width: 11rem;
    height: 3.3rem;
    font-size: 1rem;
    border-radius: 26px;
    font-weight: bold;
    color: white;
    background-color: black;
}
.left-box6 img{
    width: 50vw;
    height: 75vh;
}
.box-6{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2vh 2vw;
}
@media only screen and (max-width:1000px){
    .box-6{
        flex-direction: column;
        align-items: center;
    }
    .right-box6{
        width: 100vw;
        height: 45vh;
        padding: 1vh 1vw;
    }
    .right-box6 h1{
        font-size: 4vw;
    }
    .right-box6 p{
        font-size: 3.2vw;
    }
    .left-box6 img{
        width: 100vw;
    }
}

.left-box7 h3{
    font-size: 2vw;
    color: #1e3932;
    font-weight: bold;
}
.left-box7 p{
    font-size: 1.6vw;
}
.left-box7 button{
    width: 11rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 25px;
    font-weight: bold;
    background-color: black;
    color: white;
}
.left-box7{
    background-color: #f2f0eb;
    width: 50vw;
    height: 75vh;
    padding: 13vh 3vw;
    text-align: center;
}
.right-box7 img{
    width: 50vw;
    height: 75vh;
}
.box-7{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2vw 2vh;
}
@media only screen and (max-width:1000px){
    .box-7{
        flex-direction: column-reverse;
        align-items: center;
    }
    .left-box7{
        width: 100vw;
        height: 50vh;
        padding: 1vh 1vw;
    }
    .right-box7 img{
        width: 100vw;
    }
    .left-box7 h3{
        font-size: 3.8vw;
    }
    .left-box7 p{
        font-size: 3vw;
    }
}
/* for box-2 */
@media only screen and (max-width:1468px){
    .left-box2 button{
        width: 8rem;
	   height: 2rem;
	   font-size: 0.9rem;
    }
}
@media only screen and (max-width:712px){
    .left-box2{
        padding: 2vh 2vw;
    }
}
@media only screen and (max-width:581px){
    .left-box2{
        height: 35vh;
    }
}
@media only screen and (max-width:533px){
    .right-box2 img{
        height: 45vh;
    }
    .left-box2{
        height: 32vh;
    }
}
/* for box-3 */
@media only screen and (max-width:1358px){
    .right-box3 button{
              width: 9rem;
        	 height: 2rem;
	         font-size: 0.9rem;
    }
}
@media only screen and (max-width:733px){
    .right-box3{
        padding: 5vh 3vw;
    }
}
@media only screen and (max-width:504px){
    .right-box3{
        height:35vh ;
    }
}
@media only screen and (max-width:533px){
    .left-box3 img{
        height: 45vh;
    }
}
/*for box-4*/
@media only screen and (max-width:1325px){
    .left-box4 button{
        width: 9rem;
        height: 2rem;
        font-size: 0.9rem;
    }
}
@media only screen and (max-width:845px){
    .left-box4{
        padding: 5vh 2vw;
    }
}
@media only screen and (max-width:589px){
    .left-box4{
        height: 37vh;
    }
}
    @media only screen and (max-width:533px){
    .right-box4 img{
             height: 45vh;
    }
}
/* for box-5 */
@media only screen and (max-width:1462px){
    .left-box5 button{
        width: 10rem;
	    height: 2rem;
	    font-size: 0.9rem;
    }
}
@media only screen and (max-width:533px){
    .right-box5 img{
        height: 45vh;
    }
}
@media only screen and (max-width:748px){
    .left-box5 h2{
        font-size:3vw ;
    }
    .left-box5 p{
        font-size: 2.4vw;
    }
}
@media only screen and (max-width:465px){
    .left-box5{
        height: 26vh;
    }
    .left-box5 p{
        font-size: 3vw;
    }
}
/* for box-6 */
@media only screen and (max-width:533px){
    .left-box6 img{
        height: 45vh;
    }
}
@media only screen and (max-width:1489px){
    .right-box6 button{
        width: 7rem;
	    height: 2rem;
	   font-size: 0.9rem;
    }
}
@media only screen and (max-width:741px){
    .right-box6{
        padding: 5vh 4vw;
    }
}
@media only screen and (max-width:591px){
    .right-box6{
        height: 32vh;
    }
}
/* for box-7 */
@media only screen and (max-width:533px){
    .right-box7 img{
        height: 45vh;
    }
}
@media only screen and (max-width:1173px){
    .left-box7 button{
        width: 7rem;
        height: 2.2rem;
        font-size: 0.9rem;
    }
}
@media only screen and (max-width:717px){
    .left-box7{
        padding:7vh 4vw;
    }
}
@media only screen and (max-width:534px){
    .left-box7{
        height: 40vh;
    }
}
@media only screen and (max-width:454px){
    .left-box2 button{
        width: 6rem;
        height: 1.5rem;
        font-size: 0.7rem;
    }
    .right-box3 button{
        width: 7rem;
        font-size: 0.7rem;
        height: 1.6rem; 
    }
    .left-box4 button{
        width: 7rem;
	    height: 1.9rem;
	    font-size: 0.7rem;
    }
    .right-box6 button{
        width: 5rem;
        height: 1.8rem;
        font-size: 0.7rem;
    }
    .left-box7 button{
        width: 6rem;
	     height: 1.9rem;
	   font-size: 0.7rem;
    }
}
@media only screen and (max-width:496px){
    .left-box5 button{
        width: 8rem;
        height: 1.9rem;
        font-size: 0.7rem
    }
    .left-box5 p{
        font-size: 3vw;
    }
}
@media only screen and (max-width:667px){
    .first-box p{
        font-size: 3.5vw;
	padding: 3vh 2vw;
    }
}
@media only screen and (max-width:539px){
    .first-box P{
        font-size: 4vw;
	padding: 4vh 1vw;
    }
}
@media only screen and (max-width:414px){
    .first-box p{
        height: 13vh;
        padding: 2vh 1vw;
    }
}
@media only screen and (max-width:549px){
    .mid-heading{
        font-size: 5vw;
    }